@import url('https://fonts.googleapis.com/css2?family=Inder&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,p, a{
    font-family: "Poppins", sans-serif;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 32px;    
}
h3{
    font-size: 24px;    
}
h4{
    font-size: 20px;    
}
p{
    font-size: 16px;
}
/*<!-- --------------------aside-------------------- -->*/
aside {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 7777; 
}
div.icone-whatsapp {
    background-color: #111111;
    border-radius: 50%;
    border: solid #C9892A 3px;
    width: 60px;   
    height: 60px;  
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
}
.icone-whatsapp img {
    height: 35px; 
    width: auto;
    filter: brightness(0) saturate(100%) invert(74%) sepia(63%) saturate(1182%) hue-rotate(3deg) brightness(97%) contrast(91%);
}
@media screen and (max-width:768px){
    .phone{display: block}
    .pc{display: none}

    aside {
        bottom: 40px; 
        right: 40px; 
    }
}
/*<!-- --------------------header-------------------- -->*/
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 200px;
    background-image: url('../img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.logo img{
    height: 70px;
}
.cabecalho-menu ul{
    display: flex;
    list-style: none;
}
.cabecalho-menu li, a{
    text-decoration: none;
    color: #fefefe;
    font-size: 14px;
    margin: 0 10px;
}
.cabecalho-menu a:hover{
    color: #C9892A;
}
.button{
    color: #C9892A;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: solid #C9892A 2px;
}
.button-nav{
    background-color: #0B0B0B;
}
a.button-nav:hover{
    background-color: #C9892A;
    color: #0B0B0B;
    transition: 0.3s;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.menu-toggle .bar {
    height: 3px;
    width: 28px;
    background-color: #C9892A;
    border-radius: 2px;
    transition: all 0.3s ease;
}
.phone{display: none}
.tablet{display: none}
.pc{display: block}

@media screen and (max-width: 1200px) {
    .phone{display: block}
    .tablet{display: none}
    .pc{display: none}
    .menu-toggle {
        display: flex;
    }
    header{
    padding: 10px 80px;
    }
    .cabecalho-menu {
        display: none; 
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: #0B0B0B;
        border-top: 1px solid #222;
        box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    }
    .cabecalho-menu ul {
        flex-direction: column;
        padding: 20px 0;
        gap: 20px;
        text-align: center;
    }
    .cabecalho-menu.active {
        display: block;
    }
    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
@media screen and (min-width: 1200px) and (max-width: 1440px) {
    .phone{display: none}
    .tablet{display: block}
    .pc{display: none}
    header{
    padding: 10px 100px;
    }
}
/*<!-- --------------------main-------------------- -->*/
/*<!-- banner -->*/
#banner{
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:linear-gradient(to right, #f9f6f1, #f9f6f1,#f9f6f1f0, #f9f6f100), url("../img/teste.jpg");
}
.banner-text{
    padding: 200px 150px 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.banner-text h1{
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
    width: 100%;
}
.amarelo{
    color: #C9892A;
    font-size: 60px;
    width: 750px;
}
.linha-amarelo{
    height: 2px;
    background-color: #C9892A;
    border: none;
    width: 150px;
} 
.banner-text p{
    margin-top: 15px;
    width: 550px;
}
.button-banner{
    margin: 80px 0px;
}
.button-banner a{
    margin: 80px 0px;
    padding: 10px 40px;
    background-color: #C9892A;
    color: #fefefe;
}
.button-banner a:hover{
    background-color:#111;
    color: #C9892A;
}

.banner-image, .banner-image img{
    height: 100%;
}
.phone{display: none}
.tablet{display: none}
.pc{display: block}

@media screen and (max-width: 750px) {
    .phone{display: block}
    .tablet{display: none}
    .pc{display: none}

    .banner-text{
        padding: 200px 80px 100px;
    }
        .banner-text h1{
        font-size: 30px;
    }
    .amarelo{
        color: #C9892A;
        font-size: 40px;
        width: 90%;
    }
    .banner-text p{
        margin-top: 15px;
        width: 90%;
    }
    
}
@media screen and (min-width: 750px) and (max-width: 1220px) {
    .phone{display: none}
    .tablet{display: block}
    .pc{display: none}
    
    .banner-text{
        padding: 200px 80px 100px;
    }
    .banner-text h1{
        font-size: 40px;
        width: 80%;
    }
    .amarelo{
        color: #C9892A;
        font-size: 50px;
        width: 90%;
    }
}

/*<!-- servicos -->*/
#servicos {
    margin-top: 50px;
    background-color: #fefefe;
    padding: 50px 20px;
    text-align: center;
}
#servicos h2 {
    margin-bottom: 40px;
    color: #000;
}

/* Envolvente para posicionar as setas fora do carrossel */
.swiper-container-wrapper {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 60px; /* Espaço para as setas laterais */
}
.swiper-wrapper {
    display: flex;
    align-items: stretch;
}
.swiper-slide {
    height: auto; /* Faz o slide ocupar toda a altura do wrapper */
    display: flex;
}

.servicos-card {
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.servicos-card-image {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.servicos-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.servicos-card-texto {
    background-color: #a6a6a6;
    height: 180px;
    color: #111;
    padding: 20px;
    text-align: left;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn-orcamento {
    font-size: 12px;
    color: #111;
    text-decoration: none;
    font-weight: bold;
}
.swiper-button-next,
.swiper-button-prev {
    color: #000000 !important; /* Muda a cor da seta */
}
.swiper-button-prev {
    left: 10px;
}
.swiper-button-next {
    right: 10px;
}

/*<!-- catalogo -->*/
.catalogo{
    margin-top: 50px;
    padding: 50px 150px;
    background-color: #0B0B0B;
    text-align: center ;
}
.catalogo h2{
    color: #fefefe;
}
.menu-catalogo, .menu-catalogo ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
    flex-wrap: wrap;
}
.menu-catalogo li{
    list-style: none;
    margin: 5px 10px;
}
.menu-catalogo a:hover{
    color: #C9892A;
}
.catalogo-container-cards{
    background-color: #fefefe;
    border-radius: 5px;
    padding: 20px 0px;
}
.catalogo-container{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}
.catalogo-container.ativo{
    display: flex;
}
.catalogo-card{
    display:flex;
    flex-direction: column;
    align-items: start;
    margin: 20px 50px;
}
.catalogo-card-image img{
    height: 200px;
}
.tablet{display: none}
.pc{display: block}
/* --- RESPONSIVIDADE (Telas até 1200px) --- */
@media screen and (max-width: 1200px) {
    .tablet{display: block}
    .pc{display: none}

    .catalogo{
        padding: 50px 80px;
    }
}
/*<!-- --------------------footer-------------------- -->*/
footer{
    background-image: url('../img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fefefe;
    padding: 15px 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-logo, .footer-logo img{
    height: 60px;
}
.footer-inferior,.footer-inferior p{
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
}