*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 32px;    
}
h3{
    font-size: 24px;    
}
p{
    font-size: 16px;
}
/*<!-- --------------------aside-------------------- -->*/
aside {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 7777; 
}
div.icone-whatsapp {
    background-color: #111111;
    border-radius: 50%;
    border: solid #C9892A 3px;
    width: 60px;   
    height: 60px;  
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
}
.icone-whatsapp img {
    height: 35px; 
    width: auto;
    filter: brightness(0) saturate(100%) invert(74%) sepia(63%) saturate(1182%) hue-rotate(3deg) brightness(97%) contrast(91%);
}
@media screen and (max-width:768px){
    .phone{display: block}
    .pc{display: none}

    aside {
        bottom: 40px; 
        right: 40px; 
    }
}
/*<!-- --------------------header-------------------- -->*/
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 200px;
    background-image: url('../img/fundo.jpg');
    background-repeat: no-repeat;
}
.logo img{
    height: 70px;
}
.cabecalho-menu ul{
    display: flex;
    list-style: none;
}
.cabecalho-menu li, a{
    text-decoration: none;
    color: #fefefe;
    font-size: 16px;
    margin: 0 10px;
    font-weight: bold;
}
.cabecalho-menu a:hover{
    color: #C9892A;
}
.button-nav{
    background-color: #0B0B0B;
    color: #C9892A;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: solid #C9892A 2px;
}
a.button-nav:hover{
    background-color: #C9892A;
    color: #0B0B0B;
    transition: 0.3s;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.menu-toggle .bar {
    height: 3px;
    width: 28px;
    background-color: #C9892A;
    border-radius: 2px;
    transition: all 0.3s ease;
}
.phone{display: none}
.tablet{display: none}
.pc{display: block}
/* --- RESPONSIVIDADE (Telas até 1200px) --- */
@media screen and (max-width: 1200px) {
    .phone{display: block}
    .tablet{display: none}
    .pc{display: none}
    .menu-toggle {
        display: flex;
    }
    header{
    padding: 10px 80px;
    }
    .cabecalho-menu {
        display: none; 
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: #0B0B0B;
        border-top: 1px solid #222;
        box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    }
    .cabecalho-menu ul {
        flex-direction: column;
        padding: 20px 0;
        gap: 20px;
        text-align: center;
    }
    .cabecalho-menu.active {
        display: block;
    }
    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
@media screen and (min-width: 1200px) and (max-width: 1440px) {
    .phone{display: none}
    .tablet{display: block}
    .pc{display: none}
    header{
    padding: 10px 100px;
    }
}
/*<!-- --------------------main-------------------- -->*/
.catalogo{
    margin-top: 50px;
    padding: 50px 150px;
    background-color: #0B0B0B;
    text-align: center ;
}
.catalogo h2{
    color: #fefefe;
}
.menu-catalogo, .menu-catalogo ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
    flex-wrap: wrap;
}
.menu-catalogo li{
    list-style: none;
    margin: 5px 10px;
}
.menu-catalogo a:hover{
    color: #C9892A;
}
.catalogo-container-cards{
    background-color: #fefefe;
    border-radius: 5px;
    padding: 20px 0px;
}
.catalogo-container{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}
.catalogo-container.ativo{
    display: flex;
}
.catalogo-card{
    display:flex;
    flex-direction: column;
    align-items: start;
    margin: 15px;
}
.catalogo-card-image img{
    height: 150px;
}
.tablet{display: none}
.pc{display: block}
/* --- RESPONSIVIDADE (Telas até 1200px) --- */
@media screen and (max-width: 1200px) {
    .tablet{display: block}
    .pc{display: none}

    .catalogo{
        padding: 50px 80px;
    }
}
/*<!-- --------------------footer-------------------- -->*/
footer{
    background-image: url('../img/fundo.jpg');
    background-repeat: no-repeat;
    color: #fefefe;
    padding: 15px 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-logo, .footer-logo img{
    height: 60px;
}
.footer-inferior,.footer-inferior p{
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
}